<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="0">
  <!-- 如何禁止浏览器缓存 https://www.zhihu.com/question/27565755 -->
  <!-- 使用HTML meta no-cache标签来禁用缓存 https://www.cnblogs.com/zdz8207/p/vue-meta-no-cache.html -->
  <!-- axios禁止请求缓存 https://blog.csdn.net/u010238381/article/details/84304968 -->

  <title>空间关系理解数据标注 2022</title>

  <link href="lib/bootstrap_5.1.3_.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">

  <style type="text/css">
    .container {
      transition: max-width 0.5s, width 0.5s;
    }
    .progress-bar {
      transition: all 0.5s;
    }
    .btn {
      transition: all 0.2s;
    }
    .btn-info {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
    }
    .btn-info:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
    .btn-info.focus, .btn-info:focus {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
      box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
    }
    .btn-info:active {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
  </style>
  <style type="text/css">
    body {
      background: #eee;  /*f8f9fa*/
    }

    .hidden {
      display: none;
    }

    .m0 {
      margin: 0;
    }

    /*.form-control {
      border: 1px solid #eee;
    }*/
  </style>
  <style type="text/css">
    /*.card-wrap {
      margin: 1rem 0;
      padding: 1rem 1rem;
      background: #fafafa;
      border: 1px solid #ddd;
      border-radius: 6px;
      transition: all 0.5s;
    }*/

    /*.card {
      margin: 1rem 0;
      padding: 0.4rem 1rem;
      border: 1px solid #f6f6f6;
      border-radius: 6px;
    }*/

    /*.card p {
      margin-bottom: 0;
    }*/

    /*.card-wrap.done{color: #6c757d; background: #fff; opacity: 0.5;}*/
    /*.cluster-box {
      margin: 1rem 0;
      border: 1px solid #eee;
      border-radius: 6px;
    }*/

    /*.cluster-wrap {
      margin: 1rem 0;
      padding: 0.01rem 1rem;
      max-height: 46vh;
      overflow-y: auto;
      background: #fefefe;
      border: 1px solid #eee;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
      transition: max-height 1s;
    }*/

    /*.cluster-wrap>.card {
      border: 1px solid #666;
    }*/
  </style>
  <!-- <style type="text/css">
    @media print {
      body {
        background: #fff;
        min-width: 0 !important;
      }

      .container {
        min-width: 0 !important;
      }

      .bodywrap {
        max-width: 100%;
      }

      .page {
        max-width: 100%;
      }

      blockquote,
      pre {
        page-break-inside: initial;
      }

      .navbar {
        display: none;
      }

      #page-import {
        display: none;
      }

      #page-stage {
        display: none;
      }

      #page-items-1 {
        display: none;
      }

      #page-items-2 {
        display: none;
      }
    }
  </style> -->
  <style type="text/css">
    .text-example {
      /*max-height: 60vh; min-height: 60vh; */
      margin: 0.5em 0;
      padding: 0.5em 1em;
      font-size: inherit;
      background: #fafafa;
      color: inherit;
      white-space: pre-wrap;
      overflow: auto;
      border: 1px solid #eee;
      border-radius: 6px;
    }

    .quotation {
      text-decoration: underline;
      color: #006;
    }

    .frag-input {
      border-radius: 3px;
      border: 1px solid #eee;
      padding: 0 1px;
      margin: 0 1px;
      max-width: 4em;
      min-width: 1em;
    }

    .frag-isEntity {
      color: steelblue;
    }

    .frag-substitutable {
      color: #fa0;
    }

    .frag-substitutable.frag-notSpatial {
      color: #666;
    }

    .frag-changed {
      color: red;
    }

    .frag-changed.frag-bert {
      color: red;
      background: yellow;
    }

    .close-word {
      margin: 0 2px;
      padding: 0 2px;
      background: #eee;
      border-radius: 3px;
    }

    .my-1 .disabled-input {
      cursor: not-allowed;
      border: 1px solid #f3f3f3;
      border-top: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
      background-color: #f3f3f3;
    }

    mark.new {
      background: #ffc;
    }
  </style>
</head>

<body>
  <div class="bodywrap" id="bodywrap">
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">空间关系理解数据标注 2022</a>
      </div>
    </nav>
    <!-- navbar end -->
    <div class="container page my-4 hiddent" id="page-import">
      <div class="container py-2">
        <!-- fileCtrl start -->
        <form name="file-form" class="row" id="filePicker">
          <div class="col-md-8 my-2">
            <input type="file" class="form-control form-control-sm" name="file-input" id="file-input" accept=".json, .txt" />
          </div>
          <div class="btn-group btn-group-sm col-md-4 my-2">
            <button type="button" name="do_import" id="do_import" @click="onImport" class="btn btn-primary">导入</button>
            <button type="button" name="do_export" id="do_export" @click="onExport" class="btn btn-info">导出</button>
            <button v-if="!dataWrap?.dataItems?.length && ctrl.haveStore" type="button" name="do_loadStore" id="do_loadStore" v-on:click="loadStore" class="btn btn-success">加载缓存数据</button>
          </div>
        </form>
        <!-- fileCtrl end -->
        <!-- progressCtrl start -->
        <div class="row align-items-center">
          <div class="col col-12 col-md-3 col-lg-2 my-2">
            <input class="form-control form-control-sm" type="text" v-model="ctrl.currentWorker" placeholder="请在此输入姓名">
          </div>
          <div class="col col-12 col-md-9 col-lg-10 my-2">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" :style="`min-width: ${ctrl.donePct};`"
                :aria-valuenow="ctrl.doneNum" aria-valuemin="0" :aria-valuemax="ctrl.totalNum">{{ ctrl.doneNum }}/{{
                ctrl.totalNum }}</div>
            </div>
          </div>
        </div>
        <!-- progressCtrl end -->
      </div>
    </div>




    <!-- 编辑区 开始 -->
    <div class="container page my-4 py-2" id="page-main-editor" __v-show="ctrl.currentWorker.length">
      <div class="container" v-if="example!=null&&example?.material!=null">
        <div class="row mt-2 mb-3 align-items-center" id="page-main-editor--main">
          <!-- 内容区 开始 -->
          <div class="col col-12 col-lg-7 my-2">
            <!-- 替换后文本区 开始 -->
            <div class="row my-2 material-area" id="material-replaced">
              <p>
                <span
                  v-for="token in example?.material?.tokenList"
                  :key="token.idx"
                  class="token"
                  :class="{'right-space': true}"
                  :title="`${token.idx}, ${token.pos}`"
                  :data-idx="token.idx"
                  :data-pos="token.pos"
                  :data-auto-entity="token.autoEntity"
                  :data-auto-spatial="token.autoSpatial"
                  :data-selecting="token?._ctrl?.selecting"
                  :data-selected="token?._ctrl?.selected"
                  :data-replaced="token?.replaced ?? false"
                  @mousedown="onMouseDown(token)"
                  @mouseenter="onMouseEnter(token)"
                  @mouseout="onMouseOut(token)"
                  @mouseup="onMouseUp(token)"
                >{{ token?.replaced ? token?.to?.word : token.word }}<!-- <sub>{{ token.idx }}</sub> --></span>
              </p>
            </div>
            <!-- 替换后文本区 结束 -->
            <!-- 替换前原文区 开始 -->
            <div class="row my-2 material-area" id="material-origin" :data-show="ctrl.showOrigin" v-show="ctrl.showOrigin">
              <p>
                <span
                  v-for="token in example?.material?.tokenList"
                  :key="token.idx"
                  class="token"
                  :class="{'right-space': true}"
                  :title="`${token.idx}, ${token.pos}`"
                  :data-idx="token.idx"
                  :data-pos="token.pos"
                  :data-auto-entity="token.autoEntity"
                  :data-auto-spatial="token.autoSpatial"
                  :data-selecting="token?._ctrl?.selecting"
                  :data-selected="token?._ctrl?.selected"
                  :data-have-replace="token?.replaced ?? false"
                  @mousedown="onMouseDown(token)"
                  @mouseenter="onMouseEnter(token)"
                  @mouseout="onMouseOut(token)"
                  @mouseup="onMouseUp(token)"
                >{{ token.word }}<!-- <sub>{{ token.idx }}</sub> --></span>
              </p>
            </div>
            <!-- 替换前原文区 结束 -->
            <div class="row my-2" v-show="selection.array.length">
              <div class="col col-12 col-lg-12">
                <button v-if=" 'multiSpans' == (currentStep.mode) && currentStep?.props?.addBtn" type="button" v-on:click="currentStep?.props?.data.tokenarrays.push(selection.array)" class="btn btn-sm my-1 me-1" :class="`btn-outline-primary`">{{ currentStep.props.addBtn.text }}</button>
                <button type="button" v-on:click="clearSelection" class="btn btn-sm my-1 me-1" :class="`btn-outline-info`">清除选区</button>
              </div>
            </div>
          </div>
          <!-- 内容区 结束 -->
          <!-- 功能区 开始 -->
          <div class="col col-12 col-lg-5 my-2" id="func-ctrl">

            <!-- deBug用的 开始 -->
            <!-- <div class="row mb-3">
              <div class="col col-12">
                <div class="card">
                  <div class="card-body">
                    <div>{{ stepRecords.list }}</div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- deBug用的 结束 -->


            <!-- 标注结果展示模块 开始 -->
            <div class="row" v-show = "('interlude'==currentStep.mode&&currentStep?.props?.showResults)||'finalResult'==(currentStep.mode)" __v-if=" 'finalResult'==(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="'finalResult'==(currentStep.mode)&&currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- 标记区 开始 -->
              <div class="row my-2" id="annotations-area">
                <div
                  class="col col-12 col-lg-12"
                  v-for="anno in example.annotations"
                  :key="anno.idx"
                  :data-mode="anno.mode"
                  :data-label="anno.label"
                >
                  <div class="btn-group btn-group-sm my-1 me-2 anno-entry" :data-deleted="anno.deleted??false" __v-if="!anno.deleted">

                    <button type="button" class="btn btn-outline-primary" v-if="example.annotations.length>1">{{anno.idx}}</button>
                    <button type="button" class="btn btn-outline-dark" __class="getAnnoBtnClass(anno.label)">{{anno.desc || anno.label}}</button>

                    <!-- <template v-if="anno.mode=='modify'">
                      <button type="button" class="btn btn-outline-dark" :title="example.material.tokenList[anno.source].idx"><span>{{example.material.tokenList[anno.source].word}}<sub>{{ example.material.tokenList[anno.source].idx }}</sub> → <span>{{anno.target}}</span></button>
                    </template> -->

                    <template v-if="anno.mode=='multiSpans'">
                      <button v-for="tokenarray, kk in anno.tokenarrays" :key="kk" type="button" class="btn btn-outline-dark">
                        <span v-for="idx in tokenarray" :key="idx" :title="idx">{{ example.material.tokenList[idx]?.replaced ? example.material.tokenList[idx]?.to?.word : example.material.tokenList[idx].word }}<sub>{{idx}}</sub></span>
                      </button>
                    </template>

                    <template v-if="anno.mode=='add'">
                      <button type="button" class="btn btn-outline-dark">
                        <span v-if="anno.side=='0'">{{anno.target}} +</span><span >{{ example.material.tokenList[anno.source]?.replaced ? example.material.tokenList[anno.source]?.to?.word : example.material.tokenList[anno.source].word }}<sub>{{anno.source}}</sub></span> <span v-if="anno.side=='1'">+ {{anno.target}}</span>
                      </button>
                    </template>

                    <template v-if="anno.mode=='modify'">
                      <button type="button" class="btn btn-outline-dark">
                        <span >{{ example.material.tokenList[anno.source]?.replaced ? example.material.tokenList[anno.source]?.to?.word : example.material.tokenList[anno.source].word }}<sub>{{anno.source}}</sub></span> → <span>{{anno.target}}</span>
                      </button>
                    </template>

                    <template v-if="anno.mode=='delete'">
                      <button type="button" class="btn btn-outline-dark">
                        <s><span >{{ example.material.tokenList[anno.source]?.replaced ? example.material.tokenList[anno.source]?.to?.word : example.material.tokenList[anno.source].word }}<sub>{{anno.source}}</sub></span></s>
                      </button>
                    </template>

                    <template v-if="anno.mode=='choose'||anno.mode=='text'">
                      <button type="button" class="btn btn-outline-dark" v-if="anno.on">
                        <span v-for="tokenIdx in anno.on" :key="tokenIdx" :title="tokenIdx">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span><sub>{{anno.on}}</sub>
                      </button>
                      <button type="button" class="btn btn-outline-dark">
                        <span>{{anno.withText}}</span>
                      </button>
                    </template>

                    <button type="button" class="btn btn-outline-dark" v-if="anno.toSolve!=null">以解决 {{example.annotations[anno.toSolve].label}}<sub>{{anno.toSolve}}</sub> 的问题</button>

                    <!-- <button type="button" class="btn btn-outline-danger" @click="anno.deleted=true" title="删除" v-if="!anno.deleted">×</button> -->

                    <!-- <button type="button" class="btn btn-outline-success no-delete" @click="anno.deleted=false" title="恢复" v-if="anno.deleted">恢复</button> -->
                  </div>
                </div>
              </div>
              <!-- 标记区 结束 -->

              <div class="col col-12 my-1">
                <!-- 取消按钮 -->
                <button
                  type="button"
                  v-if="'finalResult'==(currentStep.mode)&&currentStep?.props?.cancelBtn"
                  v-on:click="cancelStep(currentStep.props.cancelBtn.go)"
                  class="btn btn-sm my-1 me-1"
                  :class="`btn-${currentStep.props.cancelBtn.style}`"
                >{{ currentStep.props.cancelBtn.text }}</button>
                <!-- 重置按钮 -->
                <button
                  type="button"
                  v-if="'finalResult'==(currentStep.mode)&&currentStep?.props?.canReset"
                  v-on:click="resetStep(currentStep.props.resetBtn.go)"
                  class="btn btn-sm my-1 me-1"
                  :class="`btn-${currentStep.props.resetBtn.style}`"
                >{{ currentStep.props.resetBtn.text }}</button>
              </div>
            </div>
            <!-- 标注结果展示模块 结束 -->





            <!-- 选值模块 开始 -->
            <div class="row" v-if="['selectValue'].includes(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- 选项按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.optionBtns">
                <button v-for="btn in currentStep.props.optionBtns" :key="btn.text" type="button" v-on:click="goRefStep(btn.go, btn.data)" class="btn btn-sm my-1 me-1" :class="`btn-${btn.style}`">{{ btn.text }}</button>
              </div>
              <!-- 完成按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.okBtn">
                <button type="button" v-on:click="goRefStep(currentStep.props.okBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`">{{ currentStep.props.okBtn.text }}</button>
              </div>
              <!-- 重置按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.canReset">
                <button type="button" v-on:click="cancelStep(currentStep.props.resetBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.resetBtn.style}`">{{ currentStep.props.resetBtn.text }}</button>
              </div>
            </div>
            <!-- 选值模块 结束 -->


            <!-- 幕间模块 开始 -->
            <div class="row" v-if="['interlude'].includes(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- 选项按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.optionBtns">
                <button v-for="btn in currentStep.props.optionBtns" :key="btn.text" type="button" v-on:click="goRefStep(btn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${btn.style}`">{{ btn.text }}</button>
              </div>
              <!-- 完成按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.okBtn">
                <button type="button" v-on:click="goRefStep(currentStep.props.okBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`">{{ currentStep.props.okBtn.text }}</button>
              </div>
              <!-- 重置按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.canReset">
                <button type="button" v-on:click="cancelStep(currentStep.props.resetBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.resetBtn.style}`">{{ currentStep.props.resetBtn.text }}</button>
              </div>
            </div>
            <!-- 幕间模块 结束 -->


            <!-- 初始模块 开始 -->
            <div class="row" v-if=" 'root'==(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- 重置按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.startBtn">
                <button type="button" v-on:click="cancelStep(currentStep.props.startBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.startBtn.style}`">{{ currentStep.props.startBtn.text }}</button>
              </div>
            </div>
            <!-- 初始模块 结束 -->



            <!-- multiSpans 模式 开始 -->
            <div class="row" v-if=" 'multiSpans' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- --- -->
              <div class="col col-12 my-1">
                <!-- addBtn -->
                <button v-if="currentStep?.props?.addBtn" type="button" v-on:click="currentStep?.props?.data.tokenarrays.push(selection.array);clearSelection();" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.addBtn.style}`" :disabled="selection.array.length<1">{{ currentStep.props.addBtn.text }}</button>
                <!-- clearBtn -->
                <button v-if="currentStep?.props?.clearBtn" type="button" v-on:click="clearSelection" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.clearBtn.style}`">{{ currentStep.props.clearBtn.text }}</button>
              </div>
              <!-- 已选列表 开始 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.listTitle">
                <div>{{ currentStep?.props?.listTitle }}</div>
              </div>
              <div class="col col-12 my-1" v-if="['multiSpans'].includes(currentStep.mode)">
                <div class="card">
                  <div class="card-body">
                    <span class="badge rounded-pill bg-light text-dark m-1" v-for="tokenarray in currentStep.props.data.tokenarrays"><span v-for="tokenIdx in tokenarray">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span></span>
                  </div>
                </div>
              </div>
              <div class="col col-12 my-1" v-if="currentStep.props.data.tokenarrays.length<2&&currentStep?.props?.lengthTip">
                <div>{{ currentStep?.props?.lengthTip }}</div>
              </div>
              <!-- 已选列表 结束 -->
              <!-- --- -->
              <div class="col col-12 my-1">
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="handleMultiSpans(currentStep.props.okBtn.go, currentStep.props.data);clearSelection();" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`" :disabled="currentStep.props.data.tokenarrays.length<2">{{ currentStep.props.okBtn.text }}</button>
                <!-- cancelBtn -->
                <button v-if="currentStep?.props?.cancelBtn" type="button" v-on:click="cancelStep(currentStep.props.cancelBtn.go);clearSelection();" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.cancelBtn.style}`">{{ currentStep.props.cancelBtn.text }}</button>
              </div>
            </div>
            <!-- multiSpans 模式 结束 -->

            <!-- add模式开始 -->
            <div class="row" v-if=" 'add' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="!selection.array.length&&currentStep?.props?.selectInstruction">
                <div>{{ currentStep?.props?.selectInstruction }}</div>
              </div>
              <div class="col col-12 my-1" v-if="selection.array.length&&currentStep?.props?.selectedTitle">
                <div>{{ currentStep?.props?.selectedTitle }}<span>“<span v-for="tokenIdx in selection.array">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span>”</span><sub>{{selection.array}}</sub></div>
              </div>
              <template v-if="selection.array.length">
                <!-- 选边指导语 -->
                <div class="col col-12 my-1">
                  <div v-if="currentStep?.props?.sideInstruction">{{ currentStep?.props?.sideInstruction }}</div>
                </div>
                <!-- 选框区 -->
                <div class="col col-12 my-1">
                  <select class="form-select form-select-sm" v-model="currentStep.props.data.side">
                    <option  v-for="(option, index) in currentStep?.props?.options" :key="index" :value="option.value">{{ option.text }}</option>
                  </select>
                </div>
                <!-- 添加内容指导语 -->
                <div class="col col-12 my-1">
                  <div v-if="currentStep?.props?.addInstruction">{{ currentStep?.props?.addInstruction }}</div>
                </div>
                <!-- 文本区 -->
                <div class="col col-12 my-1">
                  <input class="form-control form-control-sm" type="text" v-model="currentStep.props.data.target" :placeholder="currentStep?.props?.addInstruction ?? ''">
                </div>
              </template>
              <div class="col col-12 my-1">
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="handleWord(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`" :disabled="(!selection.array.length)||(!currentStep.props.data.target.length)">{{ currentStep.props.okBtn.text }}</button>
                <!-- cancelBtn -->
                <button v-if="currentStep?.props?.cancelBtn" type="button" v-on:click="cancelStep(currentStep.props.cancelBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.cancelBtn.style}`">{{ currentStep.props.cancelBtn.text }}</button>
              </div>

            </div>
            <!-- add模式结束 -->

            <!-- modify模式开始 -->
            <div class="row" v-if=" 'modify' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="!selection.array.length&&currentStep?.props?.selectInstruction">
                <div>{{ currentStep?.props?.selectInstruction }}</div>
              </div>
              <div class="col col-12 my-1" v-if="selection.array.length&&currentStep?.props?.selectedTitle">
                <div>{{ currentStep?.props?.selectedTitle }}<span>“<span v-for="tokenIdx in selection.array">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span>”</span><sub>{{selection.array}}</sub></div>
              </div>
              <template v-if="selection.array.length">
                <!-- 指导语 -->
                <div class="col col-12 my-1">
                  <div v-if="currentStep?.props?.instruction">{{ currentStep?.props?.instruction }}</div>
                </div>
                <!-- 文本区 -->
                <div class="col col-12 my-1">
                  <input class="form-control form-control-sm" type="text" v-model="currentStep.props.data.target" :placeholder="currentStep?.props?.instruction ?? ''">
                </div>
              </template>
              <div class="col col-12 my-1">
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="handleWord(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`" :disabled="(!selection.array.length)||(!currentStep.props.data.target.length)">{{ currentStep.props.okBtn.text }}</button>
                <!-- cancelBtn -->
                <button v-if="currentStep?.props?.cancelBtn" type="button" v-on:click="cancelStep(currentStep.props.cancelBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.cancelBtn.style}`">{{ currentStep.props.cancelBtn.text }}</button>
              </div>

            </div>
            <!-- modify模式结束 -->


            <!-- delete模式开始 -->
            <div class="row" v-if=" 'delete' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="!selection.array.length&&currentStep?.props?.selectInstruction">
                <div>{{ currentStep?.props?.selectInstruction }}</div>
              </div>
              <div class="col col-12 my-1" v-if="selection.array.length&&currentStep?.props?.selectedTitle">
                <div>{{ currentStep?.props?.selectedTitle }}<span>“<span v-for="tokenIdx in selection.array">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span>”</span><sub>{{selection.array}}</sub></div>
              </div>
              <div class="col col-12 my-1">
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="handleWord(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`" :disabled="(!selection.array.length)">{{ currentStep.props.okBtn.text }}</button>
                <!-- cancelBtn -->
                <button v-if="currentStep?.props?.cancelBtn" type="button" v-on:click="cancelStep(currentStep.props.cancelBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.cancelBtn.style}`">{{ currentStep.props.cancelBtn.text }}</button>
              </div>

            </div>
            <!-- delete模式结束 -->

            <!-- choose 或 text 模式开始 -->
            <div class="row" v-if="['choose', 'text'].includes(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 已选片段 -->
              <div class="col col-12 my-1" v-if="!selection.array.length&&currentStep?.props?.selectInstruction">
                <div>{{ currentStep?.props?.selectInstruction }}</div>
              </div>
              <!-- 已选片段 -->
              <div class="col col-12 my-1" v-if="selection.array.length&&currentStep?.props?.selectedTitle">
                <div>{{ currentStep?.props?.selectedTitle }}<span>“<span v-for="tokenIdx in selection.array">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span>”</span><sub>{{selection.array}}</sub></div>
              </div>

              <template v-if="selection.array.length">
                <!-- 指导语 -->
                <div class="col col-12 my-1">
                  <div v-if="currentStep?.props?.instruction">{{ currentStep?.props?.instruction }}</div>
                </div>
                <!-- 选框区 -->
                <div class="col col-12 my-1" v-if="currentStep.mode=='choose'">
                  <select class="form-select form-select-sm" v-model="currentStep.props.data.withText">
                    <option  v-for="(option, index) in currentStep?.props?.options" :key="index" :value="option">{{ option }}</option>
                  </select>
                </div>
                <!-- 文本区 -->
                <div class="col col-12 my-1" v-if="currentStep.mode=='text'">
                  <input class="form-control form-control-sm" type="text" v-model="currentStep.props.data.withText" :placeholder="currentStep?.props?.instruction ?? ''">
                </div>
              </template>

              <template v-if="!selection.array.length&&currentStep?.props?.qitainstruction">
                <!-- 指导语 -->
                <div class="col col-12 my-1">
                  <div v-if="currentStep?.props?.instruction">{{ currentStep?.props?.qitainstruction }}</div>
                </div>
                <!-- 文本区 -->
                <div class="col col-12 my-1" v-if="currentStep.mode=='text'">
                  <input class="form-control form-control-sm" type="text" v-model="currentStep.props.data.withText" :placeholder="currentStep?.props?.qitainstruction ?? ''">
                </div>
              </template>

              <!-- 按钮区 -->
              <div class="col col-12 my-1">
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="handleChooseOrText(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`" :disabled="(!selection.array.length)||(!currentStep.props.data.withText.length)">{{ currentStep.props.okBtn.text }}</button>
                <button v-if="currentStep?.props?.okBtn1" type="button" v-on:click="handleQita(currentStep.props.okBtn1.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn1.style}`" :disabled="(!currentStep.props.data.withText.length)">{{ currentStep.props.okBtn1.text }}</button>
                <!-- cancelBtn -->
                <button v-if="currentStep?.props?.cancelBtn" type="button" v-on:click="cancelStep(currentStep.props.cancelBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.cancelBtn.style}`">{{ currentStep.props.cancelBtn.text }}</button>
              </div>
            </div>
            <!-- choose 或 text 模式结束 -->

          </div>
          <!-- 功能区 结束 -->
        </div>





      </div>
    </div>
    <!-- 编辑区 结束 -->

    <div class="position-fixed bottom-0 w-100 p-2" v-if="dataWrap.dataItems.length">
      <div class="container">
        <!-- 页码操作区 开始 -->
        <div class="row page-ctrl">
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm ">
              <button class="btn btn-outline-secondary" type="button" @click="saveExample();goIdx(ctrl.currentIdx-1)">上一条</button>
              <!-- <span class="input-group-text">3</span> -->
              <input type="text" class="form-control text-center" disabled :value="ctrl.currentIdx+1">
              <button class="btn btn-outline-secondary" type="button" @click="saveExample();goIdx(ctrl.currentIdx+1)">下一条</button>
            </div>
          </div>
          <div class="col-md-4 my-0">
          </div>
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm">
              <span class="input-group-text">前往第</span>
              <input type="number" class="form-control text-center" v-model="ctrl.targetIdx">
              <span class="input-group-text">条</span>
              <button class="btn btn-outline-secondary" type="button" @click="saveExample();goIdx(ctrl.targetIdx-1)">GO</button>
            </div>
          </div>
          <!-- <div class="col-md-1 my-0">
          </div> -->
        </div>
        <!-- 页码操作区 结束 -->
      </div>
    </div>




  </div>
  <!-- bodywrap end -->

  <!-- scripts start -->
  <script type="text/javascript" src="lib/store_2.0.9_.legacy.min.js"></script>
  <script type="text/javascript" src="lib/vue_3.2.26_.global.prod.min.js"></script>
  <script type="text/javascript" src="lib/axios_0.25.0_.min.js"></script>
  <script type="text/javascript" src="lib/FileSaver.js"></script>
  <script type="text/javascript" src="js/components/BaseSaver.js"></script>
  <script type="text/javascript" src="js/components/BaseReader.js"></script>
  <script type="text/javascript" src="js/components/TheReader.js"></script>
  <script type="text/javascript" src="js/components/TheSteps.js"></script>
  <!-- <script type="text/javascript" src="js/components/TheSelector.js"></script> -->
  <script type="text/javascript" src="js/util.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <!-- scripts end -->
</body>

</html>