<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="0">
  <!-- 如何禁止浏览器缓存 https://www.zhihu.com/question/27565755 -->
  <!-- 使用HTML meta no-cache标签来禁用缓存 https://www.cnblogs.com/zdz8207/p/vue-meta-no-cache.html -->
  <!-- axios禁止请求缓存 https://blog.csdn.net/u010238381/article/details/84304968 -->

  <title>空间关系理解数据标注 2022</title>

  <link href="lib/bootstrap_5.1.3_.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">
  

  <style type="text/css">
    .container {
      transition: max-width 0.5s, width 0.5s;
    }
    .progress-bar {
      transition: all 0.5s;
    }
    .btn {
      transition: all 0.2s;
    }
    .btn-info {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
    }
    .btn-info:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
    .btn-info.focus, .btn-info:focus {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
      box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
    }
    .btn-info:active {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }
  </style>
  <style type="text/css">
    body {
      background: #eee;  /*f8f9fa*/
    }

    .hidden {
      display: none;
    }

    .m0 {
      margin: 0;
    }

    /*.form-control {
      border: 1px solid #eee;
    }*/
  </style>
  <style type="text/css">
    /*.card-wrap {
      margin: 1rem 0;
      padding: 1rem 1rem;
      background: #fafafa;
      border: 1px solid #ddd;
      border-radius: 6px;
      transition: all 0.5s;
    }*/

    /*.card {
      margin: 1rem 0;
      padding: 0.4rem 1rem;
      border: 1px solid #f6f6f6;
      border-radius: 6px;
    }*/

    /*.card p {
      margin-bottom: 0;
    }*/

    /*.card-wrap.done{color: #6c757d; background: #fff; opacity: 0.5;}*/
    /*.cluster-box {
      margin: 1rem 0;
      border: 1px solid #eee;
      border-radius: 6px;
    }*/

    /*.cluster-wrap {
      margin: 1rem 0;
      padding: 0.01rem 1rem;
      max-height: 46vh;
      overflow-y: auto;
      background: #fefefe;
      border: 1px solid #eee;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
      transition: max-height 1s;
    }*/

    /*.cluster-wrap>.card {
      border: 1px solid #666;
    }*/
  </style>
  <!-- <style type="text/css">
    @media print {
      body {
        background: #fff;
        min-width: 0 !important;
      }

      .container {
        min-width: 0 !important;
      }

      .bodywrap {
        max-width: 100%;
      }

      .page {
        max-width: 100%;
      }

      blockquote,
      pre {
        page-break-inside: initial;
      }

      .navbar {
        display: none;
      }

      #page-import {
        display: none;
      }

      #page-stage {
        display: none;
      }

      #page-items-1 {
        display: none;
      }

      #page-items-2 {
        display: none;
      }
    }
  </style> -->
  <style type="text/css">
    .text-example {
      /*max-height: 60vh; min-height: 60vh; */
      margin: 0.5em 0;
      padding: 0.5em 1em;
      font-size: inherit;
      background: #fafafa;
      color: inherit;
      white-space: pre-wrap;
      overflow: auto;
      border: 1px solid #eee;
      border-radius: 6px;
    }

    .quotation {
      text-decoration: underline;
      color: #006;
    }

    .frag-input {
      border-radius: 3px;
      border: 1px solid #eee;
      padding: 0 1px;
      margin: 0 1px;
      max-width: 4em;
      min-width: 1em;
    }

    .frag-isEntity {
      color: steelblue;
    }

    .frag-substitutable {
      color: #fa0;
    }

    .frag-substitutable.frag-notSpatial {
      color: #666;
    }

    .frag-changed {
      color: red;
    }

    .frag-changed.frag-bert {
      color: red;
      background: yellow;
    }

    .close-word {
      margin: 0 2px;
      padding: 0 2px;
      background: #eee;
      border-radius: 3px;
    }

    .my-1 .disabled-input {
      cursor: not-allowed;
      border: 1px solid #f3f3f3;
      border-top: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
      background-color: #f3f3f3;
    }

    mark.new {
      background: #ffc;
    }
  </style>
</head>

<body>
  <div class="bodywrap" id="bodywrap">
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">空间关系理解数据标注 2022</a>
      </div>
    </nav>
    <!-- navbar end -->
    <div class="container page my-4 hiddent" id="page-import">
      <div class="container py-2">
        <!-- fileCtrl start -->
        <form name="file-form" class="row" id="filePicker">
          <div class="col-md-8 my-2">
            <input type="file" class="form-control form-control-sm" name="file-input" id="file-input" accept=".json, .txt" />
          </div>
          <div class="btn-group btn-group-sm col-md-4 my-2">
            <button type="button" name="do_import" id="do_import" @click="onImport" class="btn btn-primary">导入</button>
            <button type="button" name="do_export" id="do_export" @click="onExport1" class="btn btn-info">导出</button>
            <button v-if="showLoadLocalStorage" type="button" name="do_localStorage" id="do_localStorage"
              v-on:click="readDataFromLocalStorage" class="btn btn-success">加载缓存数据</button>
          </div>
        </form>
        <!-- <input type="file" ng-model="my_file" id="my_file" > -->
        <!-- fileCtrl end -->
        <!-- progressCtrl start -->
        <div class="row align-items-center">
          <div class="col col-12 col-md-3 col-lg-2 my-2">
            <input class="form-control form-control-sm" type="text" v-model="meta.currentWorker" placeholder="请在此输入姓名">
          </div>
          <div class="col col-12 col-md-9 col-lg-10 my-2">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" :style="`min-width: ${ctrl.donePct};`"
                :aria-valuenow="ctrl.doneNum" aria-valuemin="0" :aria-valuemax="ctrl.totalNum">{{ ctrl.doneNum }}/{{
                ctrl.totalNum }}</div>
            </div>
          </div>
        </div>
        <!-- progressCtrl end -->
      </div>
    </div>

    <div class="container page my-4 hidden" id="page-stage">
      <div class="container py-2">
        <!-- 页码操作区 开始 -->
        <!-- 页码操作区 结束 -->
      </div>
    </div>




    <!-- 新版编辑区 开始 -->
    <div class="container page my-4 py-2" id="page-main-editor" __v-show="meta.currentWorker.length">
      <div class="container">
        <div class="row mt-2 mb-3 align-items-center" id="page-main-editor--main">
          <!-- 内容区 开始 -->
          <div class="col col-12 col-lg-7 my-2">
            <!-- 替换后文本区 开始 -->
            <div class="row my-2 material-area" id="material-replaced">
              <p>
                <span
                  v-for="token in example.material.tokenList"
                  :key="token.idx"
                  class="token"
                  :class="{'right-space': true}"
                  :title="`${token.idx}, ${token.pos}`"
                  :data-idx="token.idx"
                  :data-pos="token.pos"
                  :data-auto-entity="token.autoEntity"
                  :data-auto-spatial="token.autoSpatial"
                  :data-selecting="token?._ctrl?.selecting"
                  :data-selected="token?._ctrl?.selected"
                  :data-replaced="token?.replaced ?? false"
                  @mousedown="onMouseDown(token)"
                  @mouseenter="onMouseEnter(token)"
                  @mouseout="onMouseOut(token)"
                  @mouseup="onMouseUp(token)"
                >{{ token?.replaced ? token?.to?.word : token.word }}<!-- <sub>{{ token.idx }}</sub> --></span>
              </p>
            </div>
            <!-- 替换后文本区 结束 -->
            <!-- 替换前原文区 开始 -->
            <div class="row my-2 material-area" id="material-origin" :data-show="ctrl.showOrigin" v-show="ctrl.showOrigin">
              <p>
                <span
                  v-for="token in example.material.tokenList"
                  :key="token.idx"
                  class="token"
                  :class="{'right-space': true}"
                  :title="`${token.idx}, ${token.pos}`"
                  :data-idx="token.idx"
                  :data-pos="token.pos"
                  :data-auto-entity="token.autoEntity"
                  :data-auto-spatial="token.autoSpatial"
                  :data-selecting="token?._ctrl?.selecting"
                  :data-selected="token?._ctrl?.selected"
                  :data-have-replace="token?.replaced ?? false"
                  @mousedown="onMouseDown(token)"
                  @mouseenter="onMouseEnter(token)"
                  @mouseout="onMouseOut(token)"
                  @mouseup="onMouseUp(token)"
                >{{ token.word }}<!-- <sub>{{ token.idx }}</sub> --></span>
              </p>
            </div>
            <!-- 替换前原文区 结束 -->
            <div class="row my-2" v-show="selection.array.length">
              <div class="col col-12 col-lg-12">
                <button v-if=" 'multiSpans' == (currentStep.mode) && currentStep?.props?.addBtn" type="button" v-on:click="currentStep?.props?.data.tokenarrays.push(selection.array)" class="btn btn-sm my-1 me-1" :class="`btn-outline-primary`">{{ currentStep.props.addBtn.text }}</button>
                <button type="button" v-on:click="clearSelection" class="btn btn-sm my-1 me-1" :class="`btn-outline-info`">清除选区</button>
              </div>
            </div>
          </div>
          <!-- 内容区 结束 -->
          <!-- 功能区 开始 -->
          <div class="col col-12 col-lg-5 my-2" id="func-ctrl">

            <!-- deBug用的 开始 -->
            <!-- <div class="row mb-3">
              <div class="col col-12">
                <div class="card">
                  <div class="card-body">
                    <div>{{ stepRecords.list }}</div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- deBug用的 结束 -->


            <!-- 标注结果展示模块 开始 -->
            <div class="row" v-show = "('interlude'==currentStep.mode&&currentStep?.props?.showResults)||'finalResult'==(currentStep.mode)" __v-if=" 'finalResult'==(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="'finalResult'==(currentStep.mode)&&currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- 标记区 开始 -->
              <div class="row my-2" id="annotations-area">
                <div
                  class="col col-12 col-lg-12"
                  v-for="anno in example.annotations"
                  :key="anno.idx"
                  :data-mode="anno.mode"
                  :data-label="anno.label"
                >
                  <div class="btn-group btn-group-sm my-1 me-2 anno-entry" :data-deleted="anno.deleted??false" __v-if="!anno.deleted">

                    <button type="button" class="btn btn-outline-primary" v-if="example.annotations.length>1">{{anno.idx}}</button>
                    <button type="button" class="btn btn-outline-secondary" __class="getAnnoBtnClass(anno.label)">{{anno.label}}</button>

                    <!-- <template v-if="anno.mode=='modify'">
                      <button type="button" class="btn btn-outline-secondary" :title="example.material.tokenList[anno.source].idx"><span>{{example.material.tokenList[anno.source].word}}<sub>{{ example.material.tokenList[anno.source].idx }}</sub> → <span>{{anno.target}}</span></button>
                    </template> -->

                    <template v-if="anno.mode=='multiSpans'">
                      <button v-for="tokenarray, kk in anno.tokenarrays" :key="kk" type="button" class="btn btn-outline-secondary">
                        <span v-for="idx in tokenarray" :key="idx" :title="idx">{{example.material.tokenList[idx].word}}<sub>{{idx}}</sub></span>
                      </button>
                    </template>

                    <template v-if="anno.mode=='choose'||anno.mode=='text'">
                      <button type="button" class="btn btn-outline-secondary">
                        <span v-for="tokenIdx in anno.on" :key="tokenIdx" :title="tokenIdx">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span><sub>{{anno.on}}</sub>
                      </button>
                      <button type="button" class="btn btn-outline-secondary">
                        <span>{{anno.withText}}</span>
                      </button>
                    </template>

                    <button type="button" class="btn btn-outline-secondary" v-if="anno.toSolve!=null">以解决 {{example.annotations[anno.toSolve].label}}<sub>{{anno.toSolve}}</sub> 的问题</button>

                    <!-- <button type="button" class="btn btn-outline-danger" @click="anno.deleted=true" title="删除" v-if="!anno.deleted">×</button> -->

                    <!-- <button type="button" class="btn btn-outline-success no-delete" @click="anno.deleted=false" title="恢复" v-if="anno.deleted">恢复</button> -->
                  </div>
                </div>
              </div>
              <!-- 标记区 结束 -->

              <div class="col col-12 my-1">
                <!-- 取消按钮 -->
                <button
                  type="button"
                  v-if="'finalResult'==(currentStep.mode)&&currentStep?.props?.cancelBtn"
                  v-on:click="cancelStep(currentStep.props.cancelBtn.go)"
                  class="btn btn-sm my-1 me-1"
                  :class="`btn-${currentStep.props.cancelBtn.style}`"
                >{{ currentStep.props.cancelBtn.text }}</button>
                <!-- 重置按钮 -->
                <button
                  type="button"
                  v-if="'finalResult'==(currentStep.mode)&&currentStep?.props?.canReset"
                  v-on:click="resetStep(currentStep.props.resetBtn.go)"
                  class="btn btn-sm my-1 me-1"
                  :class="`btn-${currentStep.props.resetBtn.style}`"
                >{{ currentStep.props.resetBtn.text }}</button>
              </div>
            </div>
            <!-- 标注结果展示模块 结束 -->





            <!-- 标注一般流程模块 开始 -->
            <div class="row" v-if="['selectValue', 'interlude'].includes(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- 结果列表 -->





              <!-- 选项按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.optionBtns">
                <button v-for="btn in currentStep.props.optionBtns" :key="btn.text" type="button" v-on:click="goRefStep(btn.go, btn.value)" class="btn btn-sm my-1 me-1" :class="`btn-${btn.style}`">{{ btn.text }}</button>
              </div>
              <!-- 完成按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.okBtn">
                <button type="button" v-on:click="goRefStep(currentStep.props.okBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`">{{ currentStep.props.okBtn.text }}</button>
              </div>
              <!-- 重置按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.canReset">
                <button type="button" v-on:click="cancelStep(currentStep.props.resetBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.resetBtn.style}`">{{ currentStep.props.resetBtn.text }}</button>
              </div>
            </div>
            <!-- 标注一般流程模块 结束 -->


            <!-- 初始模块 开始 -->
            <div class="row" v-if=" 'root'==(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- 重置按钮 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.startBtn">
                <button type="button" v-on:click="cancelStep(currentStep.props.startBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.startBtn.style}`">{{ currentStep.props.startBtn.text }}</button>
              </div>
            </div>
            <!-- 初始模块 结束 -->



            <!-- multiSpans 模式 开始 -->
            <div class="row" v-if=" 'multiSpans' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- --- -->
              <div class="col col-12 my-1">
                <!-- addBtn -->
                <button v-if="currentStep?.props?.addBtn" type="button" v-on:click="currentStep?.props?.data.tokenarrays.push(selection.array);clearSelection();" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.addBtn.style}`">{{ currentStep.props.addBtn.text }}</button>
                <!-- clearBtn -->
                <button v-if="currentStep?.props?.clearBtn" type="button" v-on:click="clearSelection" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.clearBtn.style}`">{{ currentStep.props.clearBtn.text }}</button>
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="handleMultiSpans(currentStep.props.okBtn.go, currentStep.props.data);clearSelection();" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`">{{ currentStep.props.okBtn.text }}</button>
              </div>
              <!-- 已选列表 开始 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.listTitle">
                <div>{{ currentStep?.props?.listTitle }}</div>
              </div>
              <div class="col col-12 my-1" v-if="['multiSpans'].includes(currentStep.mode)">
                <div class="card">
                  <div class="card-body">
                    <span class="badge rounded-pill bg-light text-dark m-1" v-for="tokenarray in currentStep.props.data.tokenarrays"><span v-for="tokenIdx in tokenarray">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span></span>
                  </div>
                </div>
              </div>
              <!-- 已选列表 结束 -->
            </div>
            <!-- multiSpans 模式 结束 -->

            <!-- add模式开始 -->
            <div class="row" v-if=" 'add' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- --- -->
              <div class="col col-12 my-1">
                <!-- addBtn -->
                <button v-if="currentStep?.props?.addBtn" type="button" v-on:click="currentStep?.props?.data.tokenarrays.push(selection.array)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.addBtn.style}`">{{ currentStep.props.addBtn.text }}</button>
                <!-- clearBtn -->
                <button v-if="currentStep?.props?.clearBtn" type="button" v-on:click="clearSelection" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.clearBtn.style}`">{{ currentStep.props.clearBtn.text }}</button>
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="goRefStep3(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`">{{ currentStep.props.okBtn.text }}</button>
              </div>
              <div class="col col-12 my-1" v-if="['add'].includes(currentStep.mode)">
                <div class="card">
                  <div class="card-body">
                    <span class="badge rounded-pill bg-light text-dark m-1" v-for="tokenarray in currentStep.props.data.tokenarrays">{{tokenarray}}</span>
                  </div>
                </div>
              </div>
              <div class="col col-12 my-1">
                <input placeholder="请输入..." v-model="add_target">
              </div>
            </div>
            <!-- add模式结束 -->

            <!-- modify模式开始 -->
            <div class="row" v-if=" 'modify' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- --- -->
              <div class="col col-12 my-1">
                <!-- addBtn -->
                <button v-if="currentStep?.props?.addBtn" type="button" v-on:click="currentStep?.props?.data.tokenarrays.push(selection.array)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.addBtn.style}`">{{ currentStep.props.addBtn.text }}</button>
                <!-- clearBtn -->
                <button v-if="currentStep?.props?.clearBtn" type="button" v-on:click="clearSelection" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.clearBtn.style}`">{{ currentStep.props.clearBtn.text }}</button>
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="goRefStep5(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`">{{ currentStep.props.okBtn.text }}</button>
              </div>
              <div class="col col-12 my-1" v-if="['modify'].includes(currentStep.mode)">
                <div class="card">
                  <div class="card-body">
                    <span class="badge rounded-pill bg-light text-dark m-1" v-for="tokenarray in currentStep.props.data.tokenarrays">{{tokenarray}}</span>
                  </div>
                </div>
              </div>
              <div class="col col-12 my-1">
                <input placeholder="请输入..." v-model="modify_target">
              </div>
            </div>
            <!-- modify模式结束 -->


            <!-- delete模式开始 -->
            <div class="row" v-if=" 'delete' == (currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 指导语 -->
              <div class="col col-12 my-1" v-if="currentStep?.props?.instruction">
                <div>{{ currentStep?.props?.instruction }}</div>
              </div>
              <!-- --- -->
              <div class="col col-12 my-1">
                <!-- addBtn -->
                <button v-if="currentStep?.props?.addBtn" type="button" v-on:click="currentStep?.props?.data.tokenarrays.push(selection.array)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.addBtn.style}`">{{ currentStep.props.addBtn.text }}</button>
                <!-- clearBtn -->
                <button v-if="currentStep?.props?.clearBtn" type="button" v-on:click="clearSelection" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.clearBtn.style}`">{{ currentStep.props.clearBtn.text }}</button>
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="goRefStep4(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`">{{ currentStep.props.okBtn.text }}</button>
              </div>
              <div class="col col-12 my-1" v-if="['delete'].includes(currentStep.mode)">
                <div class="card">
                  <div class="card-body">
                    <span class="badge rounded-pill bg-light text-dark m-1" v-for="tokenarray in currentStep.props.data.tokenarrays">{{tokenarray}}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- delete模式结束 -->

            <!-- choose 或 text 模式开始 -->
            <div class="row" v-if="['choose', 'text'].includes(currentStep.mode)" :data-mode="currentStep.mode">
              <!-- 已选片段 -->
              <div class="col col-12 my-1" v-if="!selection.array.length&&currentStep?.props?.selectInstruction">
                <div>{{ currentStep?.props?.selectInstruction }}</div>
              </div>
              <!-- 已选片段 -->
              <div class="col col-12 my-1" v-if="selection.array.length&&currentStep?.props?.selectedTitle">
                <div>{{ currentStep?.props?.selectedTitle }}<span>“<span v-for="tokenIdx in selection.array">{{ example.material.tokenList[tokenIdx]?.replaced ? example.material.tokenList[tokenIdx]?.to?.word : example.material.tokenList[tokenIdx].word }}</span>”</span><sub>{{selection.array}}</sub></div>
              </div>

              <template v-if="selection.array.length">
                <!-- 指导语 -->
                <div class="col col-12 my-1">
                  <div v-if="currentStep?.props?.instruction">{{ currentStep?.props?.instruction }}</div>
                </div>
                <!-- 选框区 -->
                <div class="col col-12 my-1" v-if="currentStep.mode=='choose'">
                  <select class="form-select form-select-sm" v-model="currentStep.props.data.withText">
                    <option  v-for="(option, index) in currentStep?.props?.options" :key="index" :value="option">{{ option }}</option>
                  </select>
                </div>
                <!-- 文本区 -->
                <div class="col col-12 my-1" v-if="currentStep.mode=='text'">
                  <input class="form-control form-control-sm" type="text" v-model="currentStep.props.data.withText" :placeholder="currentStep?.props?.instruction ?? ''">
                </div>
              </template>

              <!-- 按钮区 -->
              <div class="col col-12 my-1">
                <!-- okBtn -->
                <button v-if="currentStep?.props?.okBtn" type="button" v-on:click="handleChooseOrText(currentStep.props.okBtn.go, currentStep.props.data)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.okBtn.style}`" :disabled="(!selection.array.length)||(!currentStep.props.data.withText.length)">{{ currentStep.props.okBtn.text }}</button>
                <!-- cancelBtn -->
                <button v-if="currentStep?.props?.cancelBtn" type="button" v-on:click="cancelStep(currentStep.props.cancelBtn.go)" class="btn btn-sm my-1 me-1" :class="`btn-${currentStep.props.cancelBtn.style}`">{{ currentStep.props.cancelBtn.text }}</button>
              </div>
            </div>
            <!-- choose 或 text 模式结束 -->

          </div>
          <!-- 功能区 结束 -->
        </div>





      </div>
    </div>
    <!-- 新版编辑区 结束 -->

    <div class="position-fixed bottom-0 w-100 p-2">
      <div class="container">
        <!-- 页码操作区 开始 -->
        <div class="row page-ctrl">
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm ">
              <button class="btn btn-outline-secondary" type="button">上一条</button>
              <!-- <span class="input-group-text">3</span> -->
              <input type="text" class="form-control text-center" disabled v-model="ctrl.currentIdx">
              <button class="btn btn-outline-secondary" type="button">下一条</button>
            </div>
          </div>
          <div class="col-md-4 my-0">
          </div>
          <div class="col col-12 col-md-4 my-1">
            <div class="input-group input-group-sm">
              <span class="input-group-text">前往第</span>
              <input type="number" class="form-control">
              <span class="input-group-text">条</span>
              <button class="btn btn-outline-secondary" type="button">GO</button>
            </div>
          </div>
          <!-- <div class="col-md-1 my-0">
          </div> -->
        </div>
        <!-- 页码操作区 结束 -->
      </div>
    </div>









    <!-- 旧版编辑区 开始 -->
    <div class="container page my-4 py-2 hidden" id="page-items-1" :class="{'hidden': meta.stage!=1}">
      <div v-for="dataItem in data" class="container card-wrap py-1">
        <div class="container card">
          <div class="row my-1">
            <div class="col col-12 col-md-8">
              <div v-if="!dataItem.isCorrecting">
                <p>【原句】【编号{{ dataItem.itemId+1 }}】<span v-for="frag in dataItem.originalSentence"
                    class="frag right-space"
                    :class="{'frag-substitutable': frag.substitutable, 'frag-isEntity': frag.isEntity, 'frag-notSpatial': frag.notSpatial}"
                    v-on:click="changeSpatial(frag, dataItem)" :data-pos="frag.POSTag">{{frag.word}}</span></p>
              </div>
              <div v-if="dataItem.isCorrecting">
                <p><input v-for="frag in dataItem.originalSentence" type="text" class="frag-input" v-model="frag.word">
                </p>
              </div>
              <!--
                <div><p v-for="cluster in dataItem.clusters">【{{cluster.id}}】<span v-for="changed in cluster.changed">（{{changed.idx}}, {{changed.from}}）</span></p></div> -->
            </div>
            <div class="col col-12 col-md-4">
              <div>
                <p><button type="button"
                    v-on:click="dataItem.originalError = !dataItem.originalError; if(dataItem.originalError){dataItem.showSentences=false;};"
                    class="btn btn-sm" :class="dataItem.originalError? 'btn-danger':'btn-light'">{{
                    dataItem.originalError? '状态：弃用':'状态：正常' }}</button>
                  <!-- <button type="button" v-on:click="dataItem.isCorrecting = !dataItem.isCorrecting" class="btn btn-sm btn-light" :class="{'hidden':dataItem.originalError}">{{ dataItem.isCorrecting? '结束勘误':'开始勘误' }}</button></p><p> --><button
                    type="button" v-on:click="dataItem.showSentences = !dataItem.showSentences" class="btn btn-sm"
                    :class="{'hidden':dataItem.originalError, 'btn-primary':dataItem.showSentences, 'btn-info':!dataItem.showSentences}">{{
                    dataItem.showSentences? '收起替换句':'列出替换句'
                    }}({{dataItem.sentencesLength}})</button></p>
              </div>
            </div>
          </div>
        </div>
        <template v-for="cluster in dataItem.clusters">
          <div v-if="!cluster.dropped" class="container cluster-box"
            :class="{'hidden':dataItem.originalError||!dataItem.showSentences}">
            <div class="container card">
              <div class="row my-1">
                <div class="col col-12">
                  <div>
                    <p>以下是【第{{+cluster.id+1}}个被替换词 <span v-for="changed in cluster.changed">“{{changed.from}}”
                      </span>】对应的替换句。
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container cluster-wrap">
              <template v-for="changes_obj in dataItem.changesObjects">
              <div
                v-if="changes_obj.clusterId==cluster.id&&!changes_obj.dropped" class="container card"
                :class="{'hidden':dataItem.originalError||!dataItem.showSentences}">
                <div class="row my-1">
                  <div class="col col-12 col-lg-6">
                    <div>
                      <p>【{{ changes_obj.docIdx+1 }}】<span @mouseup="mouse1(changes_obj)" v-for="frag in changes_obj.sentence" class="frag right-space"
                          :class="{'frag-substitutable': frag.substitutable, 'frag-isEntity': frag.isEntity, 'frag-notSpatial': frag.notSpatial, 'frag-changed': frag.changed, 'frag-bert': frag.bert}"
                          :data-pos="frag.POSTag"
                          :title="frag.changed?'原词：'+frag.word_origin+' '+frag.POSTag:frag.POSTag">{{frag.word}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="col col-12 col-lg-6">
                    <div>
                      <p v-if="changes_obj.judgeCorrection!=-1">
                        {{tag_map_1[+changes_obj.judgeCorrection]}}<span
                          v-if="changes_obj.judgeType!=-1&&changes_obj.judgeType!=6&&changes_obj.judgeType!=7">，{{tag_map_2[+changes_obj.judgeType]}}
                        </span><span v-if="changes_obj.judgeType==6">，原因是：<span
                            v-if="changes_obj.whyNot.isDaPeiBuDang"><br>“{{changes_obj.whyNot.text_1_1}}”与“{{changes_obj.whyNot.text_1_2}}”无法搭配</span>
                          <span
                            v-if="changes_obj.whyNot.isYuYiChongTu"><br>“{{changes_obj.whyNot.text_2_1}}”与“{{changes_obj.whyNot.text_2_2}}”语义冲突</span>
                          <span
                            v-if="changes_obj.whyNot.isChangShiError"><br>“{{changes_obj.whyNot.text_4_1}}”与常识“{{changes_obj.whyNot.text_4_2}}”严重相悖</span>
                          <span
                            v-if="changes_obj.whyNot.isYuJingError"><br>“{{changes_obj.whyNot.text_5_1}}”与上下文中的描述“{{changes_obj.whyNot.text_5_2}}”严重相悖</span>
                          <span v-if="changes_obj.whyNot.isQiTa"><br>{{changes_obj.whyNot.text_3}}</span></span><span
                          v-if="changes_obj.judgeType==7">，原因是：<span
                            v-if="changes_obj.whyNot.isDaPeiBuDang"><br>“{{changes_obj.whyNot.text_1_1}}”与“{{changes_obj.whyNot.text_1_2}}”不宜搭配</span>
                          <span
                            v-if="changes_obj.whyNot.isYuYiChongTu"><br>“{{changes_obj.whyNot.text_2_1}}”与“{{changes_obj.whyNot.text_2_2}}”语义不和谐</span>
                          <span
                            v-if="changes_obj.whyNot.isChangShiError"><br>“{{changes_obj.whyNot.text_4_1}}”与常识“{{changes_obj.whyNot.text_4_2}}”有一定冲突</span>
                          <span
                            v-if="changes_obj.whyNot.isYuJingError"><br>“{{changes_obj.whyNot.text_5_1}}”与上下文中的描述“{{changes_obj.whyNot.text_5_2}}”不和谐</span>
                          <span v-if="changes_obj.whyNot.isQiTa"><br>{{changes_obj.whyNot.text_3}}</span></span>
                      </p>
                      <p>
                        <button type="button" v-if="changes_obj.judgeCorrection==-1"
                          v-on:click="judge(changes_obj, [1, -1])" class="btn btn-sm btn-danger">不成立</button>
                        <button type="button" v-if="changes_obj.judgeCorrection==-1"
                          v-on:click="judge(changes_obj, [4, -1])" class="btn btn-sm btn-warning">勉强成立</button>
                        <button type="button" v-if="changes_obj.judgeCorrection==-1"
                          v-on:click="judge(changes_obj, [2, -1])" class="btn btn-sm btn-success">成立</button>
                        <!--
                        <button type="button" v-if="changes_obj.judgeCorrection==-1" v-on:click="judge(changes_obj, [0, 0])" class="btn btn-sm btn-secondary">难以判断</button> -->
                        <!--
                        <button type="button" v-if="changes_obj.judgeCorrection==1&&changes_obj.judgeType==-1" v-on:click="judge(changes_obj, [1, 1])" class="btn btn-sm btn-danger">搭配不合适</button>
                        <button type="button" v-if="changes_obj.judgeCorrection==1&&changes_obj.judgeType==-1" v-on:click="judge(changes_obj, [1, 2])" class="btn btn-sm btn-danger">意义冲突</button> -->
                      <div
                        v-if="(changes_obj.judgeCorrection==1||changes_obj.judgeCorrection==4)&&changes_obj.judgeType==-1">
                        <form @submit.prevent="judge_2(changes_obj)">
                          <div class="input-group my-1">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><input type="checkbox"
                                  v-model="changes_obj.whyNot.isDaPeiBuDang"></span>
                            </div>
                            <input type="text" class="form-control" v-if="index1==0" :class="{'disabled-input': !changes_obj.whyNot.isDaPeiBuDang}"
                            :disabled="!changes_obj.whyNot.isDaPeiBuDang" :required="changes_obj.whyNot.isDaPeiBuDang"
                              v-model="changes_obj.whyNot.text_1_1">
                            <input type="text" class="form-control" v-if="index1==1"  :class="{'disabled-input': !changes_obj.whyNot.isYuYiChongTu}"
                            :disabled="!changes_obj.whyNot.isYuYiChongTu"
                              v-model="changes_obj.whyNot.text_2_1">
                            <input type="text" class="form-control" v-if="index1==2" :class="{'disabled-input': !changes_obj.whyNot.isChangShiError}"
                            :disabled="!changes_obj.whyNot.isChangShiError"
                              v-model="changes_obj.whyNot.text_4_1">
                            <input type="text" class="form-control" v-if="index1==3" :class="{'disabled-input': !changes_obj.whyNot.isYuJingError}"
                            :disabled="!changes_obj.whyNot.isYuJingError"
                              v-model="changes_obj.whyNot.text_5_1">
                            <div class="input-group-prepend input-group-append">
                              <span class="input-group-text">与</span>
                            </div>
                            <input type="text" class="form-control" v-if="index1==0"  :class="{'disabled-input': !changes_obj.whyNot.isDaPeiBuDang}"
                            :disabled="!changes_obj.whyNot.isDaPeiBuDang" :required="changes_obj.whyNot.isDaPeiBuDang"
                              v-model="changes_obj.whyNot.text_1_2">
                            <input type="text" class="form-control" v-if="index1==1"  :class="{'disabled-input': !changes_obj.whyNot.isYuYiChongTu}"
                            :disabled="!changes_obj.whyNot.isYuYiChongTu"
                              v-model="changes_obj.whyNot.text_2_2">
                            <input type="text" class="form-control" v-if="index1==2" :class="{'disabled-input': !changes_obj.whyNot.isChangShiError}"
                            :disabled="!changes_obj.whyNot.isChangShiError"
                              v-model="changes_obj.whyNot.text_4_2">
                            <input type="text" class="form-control" v-if="index1==3" :class="{'disabled-input': !changes_obj.whyNot.isYuJingError}"
                            :disabled="!changes_obj.whyNot.isYuJingError"
                              v-model="changes_obj.whyNot.text_5_2">
                            <select id="pid1" @change="opt1()" class="input-group-append">
                                <option  v-for="(site,index) in sites" :value="index">{{ site.text }}</option>
                            </select>
                          </div>
                          <div class="input-group my-1">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><input type="checkbox"
                                  v-model="changes_obj.whyNot.isQiTa">其他：</span>
                            </div>
                            <input type="text" class="form-control"
                              :class="{'disabled-input': !changes_obj.whyNot.isQiTa}"
                              :disabled="!changes_obj.whyNot.isQiTa" v-model="changes_obj.whyNot.text_3">
                          </div>
                          <!-- <p>{{changes_obj.whyNot.text_1_1}}</p> -->
                          <p><button type="submit" class="btn btn-sm btn-light">保存</button>
                          </p>
                        </form>
                      </div>
                      <button type="button" v-if="changes_obj.judgeCorrection==2&&changes_obj.judgeType==-1"
                        v-on:click="judge(changes_obj, [2, 3])" class="btn btn-sm btn-success">语义变化不大</button>
                      <button type="button" v-if="changes_obj.judgeCorrection==2&&changes_obj.judgeType==-1"
                        v-on:click="judge(changes_obj, [2, 4])" class="btn btn-sm btn-success">语义变化大</button>
                      <button type="button" v-if="changes_obj.judgeCorrection!=-1"
                        v-on:click="judge(changes_obj, [-1, -1])" class="btn btn-sm btn-light">重置</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              </template>
            </div>
          </div>
        </template>
        <div class="row">
          <div class="col">
            <textarea class="form-control form-control-sm mb-4" rows="2" v-model="dataItem.feedback1"
              placeholder="您可在此备注信息或记录反馈意见"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- 旧版编辑区 结束 -->








  </div>
  <!-- bodywrap end -->

  <!-- scripts start -->
  <script type="text/javascript" src="lib/store_2.0.9_.legacy.min.js"></script>
  <script type="text/javascript" src="lib/vue_3.2.26_.global.prod.min.js"></script>
  <script type="text/javascript" src="lib/axios_0.25.0_.min.js"></script>
  <script type="text/javascript" src="lib/FileSaver.js"></script>
  <script type="text/javascript" src="js/components/BaseReader.js"></script>
  <script type="text/javascript" src="js/components/TheReader.js"></script>
  <script type="text/javascript" src="js/components/TheSteps.js"></script>
  <script type="text/javascript" src="js/components/TheSelector.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <!-- scripts end -->
</body>

</html>